<head>
  <title>Express with mysql starter template</title>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">
    @theme {
      --color-clifford: #da373d;
    }
  </style>
</head>
