<!DOCTYPE html>
<html data-theme="nord">
  <%- include('./partials/head.ejs') %>
  <body>
    <main class="text-center fs-5 min-h-screen">
      <section>
        <h1
          class="text-center text-primary bg-base-200 text-4xl md:text-5xl lg:text-7xl pt-10 pb-6 z-50"
        >
          VegardHaglund.dev
        </h1>
      </section>

      <section><%- include('./partials/hero.ejs') %></section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
